.car-picture {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.reserve-button {
    background-color: rgb(54, 236, 54);
    color: #ffff;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px;

}

.reserve-button:hover {
    background-color: green;
}


.car-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#size {
    font-size: 18pt;
    text-align: center;
    
}

#position {
    align-items: center;
    text-align: center;
}

.container {
    align-items: center;
}

.h2 {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 25px;
    justify-content: center;
}