.cart {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    box-shadow: -2px 0 4px;
    background-color: aliceblue;
    z-index: 200;
    transition: 0.3s;
    overflow-y: scroll;
}

.cart.active {
    display: block;
}

.cart-title {
    text-align: center;
    font-size: 34px;
    font-weight: 600;
}

.cart-box {
    display: grid;
    /* grid-template-columns: ; */
    align-items: center;
    gap: 10px;
}

.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
    background-color: white;
}

.detail-box {
    display: grid;
    row-gap: 5px;
}

.cart-product-title {
    font-size: 16px;
}

.cart-price {
     font-weight: 500;
}

.cart.quantity {
    border: 1px solid;
    text-align: center;
    font-size: 16px;
}

.cart-remove {
    font-size: 24px;
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    border-top: 1px solid;
    padding-top: 10px;
}

.total-title {
    font-size: 16px;
    font-weight: 600;
}

.total-price {
    margin-left: 10px;
}

.checkout-btn {
    display: flex;
    margin: 30px auto 0 auto;
    padding: 12px 20px;
    cursor: pointer;
    background-color: #66c32f;
    color: white;
}

.checkout-btn:hover {
    background-color: #43861d;
}

.hide-btn {
    display: none;
}

.btn-buy:hover {
    background-color: black;
}

.btn-buy.disbaled {
    pointer-events: none;
    background-color: rgb(164, 164, 164);
    color: white;
}

#close-cart {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.clear-cart {
    display: flex;
    margin: 30px 0 0 auto;
    border-radius: 20px;
    background-color: #efb43e;
    color: white;
    padding: 7px;
    cursor: pointer;
}

.clear-cart:hover {
    background-color: black;
}

a {
    text-decoration: none;
}